@font-face {
    font-family: 'KOHI Nanum';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/KOHINanum/KOHINanumLight.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/KOHINanum/KOHINanumLight.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/KOHINanum/KOHINanumLight.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/KOHINanum/KOHINanumLight.ttf') format('truetype');
}
@font-face {
    font-family: 'KOHI Nanum';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/KOHINanum/KOHINanumBold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/KOHINanum/KOHINanumBold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/KOHINanum/KOHINanumBold.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/KOHINanum/KOHINanumBold.ttf') format('truetype');
}
